1.Знайти середній вік опосумів та його дисперсію.
2.Перевірити чи нормально розподілена довжина ноги.
3.Перевірити за допомогою статистичних гіпотез чи довжина хвоста самок менша за довжину хвоста самців.
4.Побудувати лінійну регресійну модель залежності довжини голови від довжини всього тіла.

In [35]:
import pandas as pd
import numpy as np
from spicy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [36]:
df = pd.read_csv('possum.csv', index_col=0)
df

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      101 non-null    int64
 1   site      101 non-null    int64
 2   Pop       101 non-null    object
 3   sex       101 non-null    object
 4   age       101 non-null    float64
 5   hdlngth   101 non-null    float64
 6   skullw    101 non-null    float64
 7   totlngth  101 non-null    float64
 8   taill     101 non-null    float64
 9   footlgth  101 non-null    float64
 10  earconch  101 non-null    float64
 11  eye       101 non-null    float64
 12  chest     101 non-null    float64
 13  belly     101 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.8+ KB

In [38]:
null_data = df.isnull().sum()
null_data

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

# 1.Знайти середній вік опосумів та його дисперсію.

In [39]:
avg_age = df['age'].mean()
dispertion = df['age'].var()
print("avg age: ", avg_age, "\ndispertion: ", dispertion)

avg age:  3.8217821782178216
dispertion:  3.6679207920792085

# 2.Перевірити чи нормально розподілена довжина ноги.

In [40]:
stat, p_value = stats.normaltest(df['footlgth'])
print(f"Статистика тесту: {stat}, p_value: {p_value}")

if p_value > 0.05:
    print("Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.")
else:
    print("Дані не розподілені нормально.")

Статистика тесту: 33.681846361802755, p_value: 4.853778933228091e-08
Дані не розподілені нормально.

# 3.Перевірити за допомогою статистичних гіпотез чи довжина хвоста самок менша за довжину хвоста самців.

In [41]:
male = df[df.sex == 'm'][['taill']].to_numpy().flatten()
female = df[df.sex == 'f'][['taill']].to_numpy().flatten()


def normaltest(data):
    stat, p_value = stats.normaltest(data)   
    if p_value > 0.05:
            print(f"Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.")
    else:
        print("Дані не розподілені нормально.")

normaltest(male)  # Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.
normaltest(female)# Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.

stat, p_value  = stats.ttest_ind(female, male, alternative='less')
print(f"Статистика тесту: {stat}, p-значення: {p_value}")

if p_value < 0.05:
    print("Відкидаємо нульову гіпотезу: довжина хвоста самок менша за довжину хвоста самців.")
else:
    print("Не відкидаємо нульову гіпотезу: немає доказів, що довжина хвоста самок менша за довжину хвоста самців.")

Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.
Немає достатніх підстав відкинути гіпотезу про нормальний розподіл.
Статистика тесту: 0.2977049134379049, p-значення: 0.6167238849039564
Не відкидаємо нульову гіпотезу: немає доказів, що довжина хвоста самок менша за довжину хвоста самців.

# 4. Лінійна регресія: залежність довжини голови від довжини тіла

In [42]:
print(stats.linregress(df['hdlngth'], df['totlngth']))

LinregressResult(slope=0.7995939596784113, intercept=13.122404875682534, rvalue=0.67040150467491, pvalue=1.7437036744705246e-14, stderr=0.0889446792860806, intercept_stderr=8.253778790960999)